body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.active {
  background-color: black;
  color: white;
}

.section {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

p {
  margin-bottom: 20px;
}
.grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.section1 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.metric,
.device-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

.three {
  margin-right: 20px;
  color: #007bff;
}

.device-card button:hover {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.alert {
  background-color: #ffcccb;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.device-details {
  background-color: #e0f7fa;
  padding: 20px;
  margin-top: 20px;
}

.tab-link {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.tab-link:hover {
  background-color: #007bff;
  color: white;
}

.active-tab {
  background-color: #007bff;
  color: white;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .tabs {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .section,
  .section1,
  .metric,
  .device-card {
    padding: 15px;
    width: 100%;
    margin: 0 auto 15px;
  }

  .device-card {
    width: 50%;
    text-align: center;
  }
  .device-details {
    text-align: center;
    /* width: 50%;
    padding: 20px 20px; */
    background: none;
  }
  .metric {
    width: 50%;
  }
  /* .device-details {
    margin: 10px 0;
    width: 100%;
    
  } */

  .line {
    width: 100%;
    height: 300px;
  }

  button {
    width: 100%;
    padding: 12px;
  }

  .tab-link {
    width: 100%;
    text-align: center;
  }

  .export-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    gap: 20px;
  }

  .line {
    width: 50%;
    height: 200px;
  }

  .section {
    padding: 20px;
    width: 100%;
  }

  .metric {
    width: 80%;
  }

  .section1 {
    padding: 20px;
  }
}
